# jinja template processing of releaseWizard.yaml
Jinja2==3.1.6
# parsing and processing of releaseWizard.yaml
PyYAML==6.0.2
# international holidays in releaseWizard
holidays==0.74
# calendar processing in releaseWizard
ics==0.7.2
# terminal processing in releaseWizard
console-menu==0.8.0
# pull request processing in githubPRs
PyGithub==2.6.1
# JIRA processing in githubPRs
jira==3.8.0
# type-checking in "make lint"
basedpyright==1.29.2
# linting in "make lint"
ruff==0.11.12
