/*
 Styles for /search
*/
#results {
    margin: 5px;
}
#count {
    margin: 3px;
    color: darkgrey;
}
#query {
    font-family: Courier;
}
.depressed {
    color: lightblue;
}
.scores {
    display: inline-block;
    width: 11em;
    color: cadetblue;
}
.title {
    margin: 2px;
}
.description {
    display: none;
    font-size: small;
}

/*
 Styles for /overview
*/
#overview {
    border: 3px double #ccc;
    padding: 0.5em;
    list-style-type: none;
}
#overview li ul {
    list-style-type: none;
}
#overview li ul li {
    display: inline-block;
}
.label {
    width: 20em;
    padding-right: 0.5em;
    text-align: right;
    font-weight: bold;
    color: green;
}

#bottom_panel {
    width: 80%;
}
#bottom_panel>li {
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
    background: wheat;
    padding: 4px;
}
#term_fields {
    width: 100%;
    border-collapse: collapse;
}
#term_fields td {
    border: 1px solid cadetblue;
}
#term_fields th {
    border: 1px solid cadetblue;
}
td.number {
    text-align: right;
}
span.count {
    display: inline-block;
    width: 6em;
    color: gray;
}
