name: Distribution tests

on:
  # Allow manual triggers for testing the action.
  workflow_dispatch:

  pull_request:
    branches:
      - 'main'

  push:
    branches:
      - 'main'
      - 'branch_9x'

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test:
    name: Run distribution tests

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # we want to run the distribution tests on all major OSs, but it's occasionally too slow (or hangs or the forked process is not started at all..., not sure the cause) on windows.
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17
        java-package: jdk
    - name: Prepare caches
      uses: ./.github/actions/gradle-caches

    - name: Run all distribution tests including GUI tests (${{ matrix.os }})
      run: ./gradlew -p lucene/distribution.tests test
