name: Hunspell regression tests

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/hunspell.yml'
      - 'lucene/analysis/common/**'

jobs:
  test:
    name: Run Hunspell regression tests

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17
        java-package: jdk

    - name: Prepare caches
      uses: ./.github/actions/gradle-caches

    - name: Run regular and regression tests
      run: ./gradlew -p lucene/analysis/common check testRegressions
