name: "Run checks: module lucene/distribution.tests"

on:
  workflow_dispatch:

  pull_request:
    branches:
      - 'main'
      - 'branch_10x'

  push:
    branches:
      - 'main'
      - 'branch_10x'

permissions: {}

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  test:
    name: Run distribution.tests
    timeout-minutes: 15

    strategy:
      matrix:
        # ubuntu-latest is checked as part of run-checks-everything.yml
        # windows-latest is slow and sometimes flaky.
        os: [ macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Configure tools
        uses: ./.github/actions/prepare-for-build

      - name: Run 'gradlew lucene/distribution.tests test' (on ${{ matrix.os }})
        run: ./gradlew -p lucene/distribution.tests test
